.footer {
    background-image: linear-gradient(to left bottom, $color-grey-light-2, $mainPurple);
    grid-column: full-start / full-end;

    padding: 5rem;
    font-size: 1.9rem;

    &--footer-paragraph {
        text-align: center;
    }

    &--link {
        margin: 2rem;
        text-decoration: none;
        &:hover {
        text-decoration: underline;
        }
    }

    &--text-center {
        text-align: center;
        margin-top: 1.5rem;
    }
}

.about {
    height: 80vh;
    padding: 5rem;
    font-size: 1.9rem;
    width: 800px;

    &--about-title {
        font-size: 3rem;
        text-align: center;
        margin-bottom: 3rem;
    }

    &--paragraph {
        font-size: 1.7rem;

        &:not(:last-child) {
        padding-bottom: 2rem;
        }
    }
}
