.form {
 display: flex;
 flex-direction: column;
 font-size: 1.5rem;
 width: 75rem;
 box-shadow: $box-shadow;
 align-items: center;
 padding: 9rem;
 margin-bottom: 7rem;
 transform: translateX(50%);
 background-color: $mainPurple;
 border-radius: 5rem;
}


label, input {
 display: inline-block;
 width: 100%;
}

input {
 text-align: start;
 padding: .9rem;
 border-radius: 1rem;
 width: 44rem;
 background-color: $color-grey-light-1;
}

.btn-update {
 margin-top: 5rem;
}