.header {
    z-index: 20;
    grid-column: full-start / full-end;

    background-image: linear-gradient( to left top,
    $color-grey-light-1,
        $mainPurple
    );
    background-repeat: no-repeat;
    background-position: center;
    padding: 1rem;

    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}

.nav {
    background-color: $mainPurple;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: -1rem -2rem;
    padding: 1rem;

    @media only screen and (max-width: $bp-medium) {
    padding: .2rem .3rem;
}



    &__logo {
        text-decoration: none;
        font-size: 2.7rem;
        font-weight: 700;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-left: 3rem;

        @media only screen and (max-width: $bp-small) {
            display: none;
        }
    }
    &__item {
        display: flex;
        margin: auto 3rem;
        font-weight: 500;
        font-size: 1.9rem;

    @media only screen and (max-width: $bp-medium) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    }
    &__product {
        text-decoration: none;
        margin-right: 2rem;
    }
    &__cart {
        text-decoration: none;
        display: flex;
        align-items: center;
        padding: 0 2rem;
        margin-right: 1rem;

        @media only screen and (max-width: $bp-small) {
            display: none;
        }
    }
}

.nav-dropdown {
    display: flex;
    flex-direction: column;
    font-size: 1.7rem;

    &:hover {
        transform: translate(-.3rem) scale(1.2);
        cursor: pointer;
        background-color: $mainPurple;
        text-transform: capitalize;
        text-decoration: underline;
    }

    &--profile {
        &:hover {
            transform: translateY(-.2rem);
            text-decoration: underline;
        }
    }

    &--logout {
        &:hover {
            transform: translateY(-.2rem);
            text-decoration: underline;
        }
    }

    &--link {
        text-decoration: none;
    }
}



