.ephone-details {
    grid-column: center-start / center-end;
    font-size: 1.6rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    grid-gap: 4rem;

    &--image {
        grid-column: 1/-1;
        grid-row: 1 / 2;
        width: 100%;
    }
}

.btn {
    text-decoration: none;
    font-weight: 400;
    color: $color-grey-light-1;
    background-color: $mainPurple;
    cursor: pointer;
    display: inline-block;
    text-transform: capitalize;

    &:hover {
        transform: translateY(-.2rem);
    }
}

.add-to-cart {
    margin-top: 3rem;
}